
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>
<p>
    Hello! My name is Ronja and I'm developing this webproject for a IT-devlopment course ran by <a href="https://www.lexicon.se/" target="_blank">Lexicon</a>. Currently there isn't a lot here but it's going to be developed over the coming weeks.
</p> 
<p>
    I myself am a boardgame-collecting, interior design-appropriating, game design university graduate who am looking to pivot into more conventional .NET development.
    I studied at the University of Skövde between 2016 and 2020. Since then I've been seeking employment and working on a few miscellaneous projects, mostly helper apps to shorten boardgame set-up times 
    but also some network projects for simple online games.
</p>
