
@{
    ViewData["Title"] = "Contact";
}

<h2>Contact</h2>
<ul>
    <li>Buisness email: TBA</li>
    <li>Phone: N/A</li>
    <li>GitHub: <a href="https://github.com/LadyRonja" target="_blank">LadyRonja</a></li>
</ul>
