
@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>

<ul>
    <li>
        <a href="https://github.com/LadyRonja/AUB_vendingMachine" target="_blank">Vending Machine Simulator</a>
        <p>Console based vending machine simulator implemented using C# for showcasing polymorphism and and inheritance</p>
    </li>
    <li>
        <a href="https://github.com/LadyRonja/AUB_sokoban" target="_blank">Sokoban web game</a>
        <p>Sokoban implemented as a web game using pure JavaScript</p>
    </li>
    <li>
        <a href="https://github.com/LadyRonja/AUB_CSS" target="_blank">Taverns of Tiefenthal Fanpage</a>
        <p>Fan page for the boardgame Taverns of Tiefenthal. Static HTML page styled with CSS</p>
    </li>
    <li>
        <a href="https://github.com/LadyRonja/AUB_Calculator" target="_blank">Calculator</a>
        <p>Console based calculator implemented using C# for showcasing unit testing</p>
    </li>

    <li>
        <a href="https://github.com/LadyRonja/AUB_hangman" target="_blank">Boss Monsters</a>
        <p>Console based Hangman game implemented using C#</p>
    </li>
</ul>