@using WebProject.Models;
@model Person


<div class="container">
    <div class="row">
        <div class="col-sm">
            @Model.Name
        </div>
        <div class="col-sm">
            @Model.City
        </div>
        <div class="col-sm">
            @Model.PhoneNumber
        </div>
        <div class="col-sm">
            @Html.ActionLink("Remove", "RemovePerson", new { personID = Model.ID })
        </div>
    </div>
</div>