@using WebProject.Models;
@model Person


    <div class="container">
        <div class="row">
            <div class="col-sm">
                @Model.Name
            </div>
            <div class="col-sm">
                @Model.City
            </div>
            <div class="col-sm">
                @Model.PhoneNumber
            </div>
        </div>
    </div>